@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body>
    <h2>Password reset successful</h2>
    <p>Your password has been reset. You can now <a asp-controller="Account" asp-action="Login">login</a>.</p>
</body>
</html>